@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Dancing+Script:wght@400;700&family=Parisienne&family=Alex+Brush&family=Sacramento&family=Pinyon+Script&family=Tangerine:wght@400;700&display=swap');

@font-face { font-family: 'BM DoHyeon'; src: url('/fonts/BMDOHYEON_ttf.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BM Euljiro 10years'; src: url('/fonts/BMEuljiro10yearslater.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BM Euljiro Oraeorae'; src: url('/fonts/BMEuljirooraeorae.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BM Euljiro'; src: url('/fonts/BMEULJIROTTF.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BM Hanna 11yrs'; src: url('/fonts/BMHANNA_11yrs_ttf.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BM Hanna Air'; src: url('/fonts/BMHANNAAir_ttf.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BM Hanna Pro'; src: url('/fonts/BMHANNAPro.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BM Jua'; src: url('/fonts/BMJUA_ttf.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BM Kiranghaerang'; src: url('/fonts/BMKIRANGHAERANG-TTF.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BM Kkubulim'; src: url('/fonts/BMKkubulimTTF.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BM Yeonsung'; src: url('/fonts/BMYEONSUNG_ttf.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Zen Serif'; src: url('/fonts/ZEN-SERIF-TTF-Regular.woff2') format('woff2'), url('/fonts/ZEN-SERIF-TTF-Regular.woff') format('woff'); font-display: swap; }
